.memory {
    background-color: #011F3F;
    margin-bottom: 20vh;
}

.memory p {
    color: #fff;
    margin-top: 10px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 40px;
}

.cards {
    position: relative;
}

.cards img {
    border: none;
    display: block;
    height: 100px;
    width: 100px;
}

.cards .front {
    position: absolute;
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
}

.cards .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}

@media screen and (max-width: 767px) {
    .card-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(80px, 1fr));
        grid-column-gap: 0px;
        margin-top: 40px;
    }

}