.portal {
    animation: show .25s ease forwards;
    background-color: yellow;
    background-image: url("../../assets/images/fireworks.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px 200px;
    border:outset black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    left: 50%; 
    min-height: 200px;
    min-width: 200px;
    padding: 2rem;
    position:fixed;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 2;
}

@keyframes show {
   to {transform: translate(-50%, -50%) scale(1)}
}

