.mine {
    background-color: #011F3F;
    margin-bottom: 20vh;
}

.minesweeper {
    background-color: gainsboro;
    border: 1px black black;
    height: 555px;
    margin: 30px;
    width: 500px;
}

.board {
    border: none;
    display: flex;
}

.board .rows {
    border: 1px outset gray;
    border-bottom: none;
    border-left: none;
    border-right: none;
    height: 50px;
    width: 498px;
}

.board .rows .cell {
    align-items: center;
    border: 1px outset gray;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 50px;
}

.board .rows .cell:hover {
    background-color: gray;
}

.board .cell.open {
    align-items: center;
    background-color: rgb(167, 164, 164);
    border: 1px outset rgb(41, 182, 29);
    display: flex;
    justify-content: center;
}

.board-head {
    align-items: center;
    border: none;
    display: flex;
    flex-direction: row;
    height: 55px;
    justify-content: space-around;
    width: 500px;
}


.board-head .reset,
.board-head .flag-count,
.board-head .timer {
    align-items: center;
    border: none;
    display: flex;
    height: 35px;
    justify-content: center;
    width: 55px;
}

.reset {
    background-color: gainsboro;
}

.reset:active{
    transform: scale(0.9);
}