body {
    background-color: rgb(249, 237, 105);
    font-family: 'Press Start 2P', cursive;
    overflow-x: hidden;
    user-select: none; 
}

.app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}





  

